.main_header{
    color:#5BD4C9;
    margin-top:330px;
}

.headers{
    font-weight: bold;
    color:#5BD4C9;
    margin-top:60px;

}
.footer {
    background-color: #5BD4C9;
    padding:30px;
      position: absolute;
      bottom: 0;
      width: 100%;
}

.mobile {
    background:
        /* top, transparent red, faked with gradient */
        linear-gradient(rgba(0, 0, 0, .60),
            rgba(0, 0, 0, .60)),
        /* bottom, image */
        url(photos/pricing.jpg);
    /* The image used */

    /* Full height */
    height: 200px;
    /* Create the parallax scrolling effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;;
}